@using SimpleBank.AccountManage.UI.Blazor.Server.v1.Contracts
@using SimpleBank.AccountManage.UI.Blazor.Server.v1.Data.Requests
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<UsersPage> Loc
@inject IAuthService authService

<div class="container-md rounded dualBox dropshadow">

    <h4>@Loc["Login"]</h4>

    <EditForm Model="@loginUserRequest" OnSubmit="CallAPIToLogin">
        <DataAnnotationsValidator />

        <div class="form-group">
            @*<label for="inputUsername1">@Loc["Username"]</label>*@
            <InputText class="form-control" id="inputUsername1" aria-describedby="usernameHelp" placeholder="@Loc["Username"]" @bind-Value="loginUserRequest.Username" />
            <ValidationMessage For="@(() => loginUserRequest.Username)"></ValidationMessage>
            @*<small id="usernameHelp" class="form-text text-muted">Insert your username.</small>*@
        </div>

        <div class="form-group">
            @*<label for="inputPassword1">@Loc["Password"]</label>*@
            <InputText type="password" class="form-control" id="inputPassword1" placeholder="@Loc["Password"]" @bind-Value="loginUserRequest.Password" />
            <ValidationMessage For="@(() => loginUserRequest.Password)"></ValidationMessage>
        </div>

        <button type="submit" class="btn btn-dark">@Loc["Login"]</button>
        <button class="btn-sm btn-outline-dark float-right" @onclick="@AutoFill">@Loc["AutoFill"]</button>
    </EditForm>
   
    @if (errorOnLogin)
    {
        <hr /><br />
        <p style="color:red">@Loc["LoginError"]</p>
    }

</div>


@code {

    [Parameter]
    public EventCallback<bool> OnUserLogginIn { get; set; }

    private bool errorOnLogin = false;
    private LoginUserRequest loginUserRequest = new();

    private async Task CallAPIToLogin()
    {
        var userLogged = await authService.Login(loginUserRequest);
        if (!userLogged) { errorOnLogin = true; }
        else { await OnUserLogginIn.InvokeAsync(true); }
    }

    private void AutoFill()
    {
        loginUserRequest.Username = "Dummytester2";
        loginUserRequest.Password = "123456789";
    }

}
